<!DOCTYPE html>

<html xmlns:th="http://wwww.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <body>
        <h1>Página de inicio</h1>
        <p>Hola, por favor introduce la información</p>

        <form th:action="@{/calcularSueldo}" th:object="${empleado}" method="post">
            <table border="1">
                <tr>
                    <th align="left"> Nombre: </th>
                    <td><input type="text" th:field="*{nombre}" ></td>
                </tr>
                <tr>
                    <th align="left"> Sueldo por día: </th>
                    <td><input type="text" th:field="*{sueldo_por_dia}"></td>
                </tr>
                <tr>
                    <th align="left"> Días trabajados: </th>
                    <td><input type="text" th:field="*{dias_trabajados}"></td>
                </tr>
            </table>
            <br>
                <input type="submit" value="Calcular Sueldo">
            </body>
            </html>
